@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

h1, h2, h3, h4 {
	font-weight: 600;
	line-height: 120%;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

#ingredients-bar::-webkit-scrollbar {
	width: 16px;
}

#ingredients-bar::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 4px solid white;
	background-color: #ccc;
}
